<script lang="Ts">
</script>

<svelte:head>
    <title>The Kingdom: Valheim</title>
</svelte:head>

<slot></slot>

<style>
:global(*)
{
    cursor: url("/cursor.png"), default;
}

:global(body)
{
    margin: 0;

    color: #eeeeee;
    font-family: "PTSerif", serif;
}

:global(body::before)
{
    content: "";
    background-color: #111111;
    background-image: url("$lib/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) brightness(0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.02);
    animation: zoom 4s forwards;
    animation-delay: 0.25s;
}

:global(.outline-text)
{
    text-shadow:
        -1px -1px 0 #000,
        0   -1px 0 #000,
        1px -1px 0 #000,
        1px  0   0 #000,
        1px  1px 0 #000,
        0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
}

@keyframes zoom
{
    from
    {
        transform: scale(1.02);
    }
    to
    {
        transform: scale(2);
    }
}

:global(a)
{
    text-decoration: none;
    color: unset;
}

:global(a:visited)
{
    color: unset;
}

@font-face
{
    font-family: "valheim";
    src: url("/fonts/Norse.otf");
    font-weight: normal;
}

@font-face
{
    font-family: "valheim";
    src: url("/fonts/Norsebold.otf");
    font-weight: bold;
}

@font-face
{
    font-family: "PTSerif";
    src: url("/fonts/PTSerif-Regular.ttf");
    font-weight: normal;
}

@font-face
{
    font-family: "fontello";
    src: url("/fonts/fontello.ttf");
    font-weight: normal;
    font-style: normal;
}

:global(.red)
{
    color: #f93913;
}

/* https://fontello.com/ */
:global([class^="icon-"]:before, [class*=" icon-"]:before)
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    position: relative;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    font-size: 120%;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-shadow:
        -1px -1px 0 #000,
        0   -1px 0 #000,
        1px -1px 0 #000,
        1px  0   0 #000,
        1px  1px 0 #000,
        0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
}

/* "" */
:global(.icon-exchange:before)
{
    content: "\f0ec";
}

/* "" */
:global(.icon-server:before)
{
    content: "\f233";

}

:global(.icon-server)
{
    margin-bottom: -2px;
}

:global(.icon-server)
{
    position: relative;
}

/* '' */
:global(.icon-help:before)
{
    content: "\e800";
    font-size: 100%;

}

:global(.icon-help)
{
    position: absolute;
    top: 0;
    left: 25%;
}

/* '' */
:global(.icon-x:before)
{
    content: "\e801";
    color: #f93913;
}

:global(.icon-x)
{
    position: absolute;
    top: 25%;
    left: 25%;
}

/* '' */
:global(.icon-key:before)
{
    content: "\e802";
    transform: scale(-1, 1);
    color: #e4c06a;
}
</style>
