<script lang="ts">
    import valheimTitle from "$lib/images/valheim_transparent.png";
    import { onMount } from "svelte";
    import type { ValheimData } from "./api/+server";
    import Button from "$lib/components/Button.svelte";
    import { env } from "$env/dynamic/public";
    import Popup from "$lib/components/Popup.svelte";

    let valheimData: ValheimData | undefined;
    async function fetchData()
    {
        const response = await fetch("/api");
        valheimData = await response.json();
    }

    async function copy(mouseEvent: MouseEvent)
    {
        navigator.clipboard.writeText(`${env.PUBLIC_SERVER_URL}:${env.PUBLIC_SERVER_PORT}`);
        showPopup({ x: mouseEvent.clientX, y: mouseEvent.clientY });
    }

    async function showPopup(position: { x: number, y: number })
    {
        const popup = new Popup({
            target: document.body,
            props:
            {
                x: position.x,
                y: position.y
            }
        });
        setTimeout(() => popup.$destroy(), 1000);
    }

    onMount(() =>
    {
        fetchData();
        const interval = setInterval(fetchData, 10000)
        return () => clearInterval(interval);
    });
</script>

<div class="main">
    <div class="title">
        <img src="{valheimTitle}" alt="Valheim logo" class="full-width" />
        {#if (env.PUBLIC_TITLE)}
            <h1>{env.PUBLIC_TITLE}</h1>
        {:else if (valheimData && valheimData.name)}
            <h1>{valheimData.name}</h1>
        {/if}
    </div>
    <div class="card">
        <a href="#" on:click={copy}>
            <div class="content">
                {#if (valheimData && valheimData.success === true)}
                    <div class="left">
                        <span class="outline-text">{valheimData.name}</span>
                    </div>
                    <div class="right">
                        <span class="outline-text">v{valheimData.version}</span>
                        <span class="outline-text">{valheimData.players.length}/{valheimData.maxplayers}</span>
                        <span class="icon-server"></span>
                        <!-- There's currently no way to verify crossplay AFAIK,
                            so just don't display the crossplay icon ever -->
                        <!-- <span class="icon-exchange"></span> -->
                        {#if (valheimData.password)}
                            <span class="icon-key" title="Password required"></span>
                        {/if}
                        <span class="outline-text">{valheimData.ping}ms</span>
                    </div>
                {:else if (valheimData && valheimData.success === false)}
                    <div class="left">
                        <span class="outline-text red">Server offline</span>
                    </div>
                    <div class="right">
                        <span class="icon-server"><span class="icon-x"></span></span>
                    </div>
                {:else}
                    <div class="left">
                        <span class="outline-text ellipsis">Pinging</span>
                    </div>
                    <div class="right">
                        <span class="icon-server"><span class="icon-help"></span></span>
                    </div>
                {/if}
            </div>
        </a>
        <div class="buttons">
            <div class="button">
                <Button onClick={copy}>Copy Server Address</Button>
            </div>
            <div class="button">
                <Button href="{env.PUBLIC_SOURCE_URL}">Source</Button>
            </div>
            <div class="button">
                <Button href="{env.PUBLIC_DONATE_URL}">Donate</Button>
            </div>
        </div>
    </div>
</div>

<style>
.main
{
    width: 650px;
    margin: 0 auto;
    margin-top: 8vh;
    text-align: center;
}

@media screen and (max-width: 850px)
{
    .main
    {
        width: 75%;
    }
}

h1
{
    margin-top: -7%;
    margin-left: 15%;

    font-family: "valheim";
    font-size: 10vmin;
    color: #eaeaea;
    background: linear-gradient(0deg, #8099b7 0%, #ffffff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title
{
    margin-left: -6vmin;
}

.title img
{
    animation: pulse 5s infinite;
}

@keyframes pulse
{
    from
    {
        filter: drop-shadow(0 0 10px rgb(235, 38, 7));
    }
    50%
    {
        filter: drop-shadow(0 0 1px rgb(235, 38, 7));
    }
    to
    {
        filter: drop-shadow(0 0 10px rgb(235, 38, 7));
    }
}

.full-width
{
    width: 100%;
}

.left
{
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
}

.right
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
}

.right span
{
    margin-right: 2vmin;
    display: inline-block;
}

.right span:last-child
{
    margin-right: 0;
}

.card
{
    position: relative;
    background-image: url("$lib/images/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 32px;
    /* z-index: -1; */
    overflow: hidden;
}

.card::before
{
    position: absolute;
    content: "";
    background: inherit;
    filter: blur(2px) brightness(0.45) hue-rotate(-5deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

.content
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.content:hover
{
    color: #ffffff;
}

.buttons
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2vmin;
    padding: 8px;
    z-index: 1;
    gap: 4vmin;
}

.ellipsis::after
{
    content: "";
    display: inline-block;
    animation: ellipsisAnimation steps(1, end) 1s infinite;
}

@keyframes ellipsisAnimation
{
    from
    {
        content: ""
    }
    25%
    {
        content: "."
    }
    50%
    {
        content: ".."
    }
    75%
    {
        content: "..."
    }
    to
    {
        content: ""
    }
}
</style>
