<script lang="ts">
    export let href = "#";
    export let onClick = click;
    const isSelf = href.startsWith("/") || href.startsWith("#");

    async function click(mouseEvent: MouseEvent)
    {
        return;
    }
</script>

<a class="outline-text" href="{href}" target="{isSelf ? '_self' : '_blank'}" on:click={onClick}>
    <span><slot></slot></span>
</a>

<style>
a
{
    position: relative;
    display: inline-block;
    background-image: url("$lib/images/stone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    padding: 8px 32px;
    /* z-index: -1; */

    box-sizing: border-box;
    box-shadow:
        0 0 0 2px #b17520,
        0 0 0 4px #333333,
        0 0 0 6px #555555;

    color: #ffa400;
    text-align: center;
    font-weight: bold;
}

a::before
{
    position: absolute;
    content: "";
    background: inherit;
    filter: brightness(0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}

a:hover
{
    filter: brightness(1.2);
}

a > span
{
    position: relative;
    z-index: 1;
}
</style>
